.headerContainer {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;

  height: 60px;
  width: 100%;

  background-color: var(--text-white);

  border-bottom: 1px solid var(--border-light);
}

.headerWrapper {
  width: 92%;
  height: 100%;

  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.titleArea {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.title {
  font-size: 20px;
  font-weight: 600;

  color: var(--text-title);
}

.authArea {
  width: auto;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.login,
.signup {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */

  font-size: 16px;
  font-weight: 600;

  color: var(--text-gray);
}
