.Container {
  width: 100%;
  height: 100%;
}

.authArea {
  width: auto;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.login,
.signup {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */

  font-size: 16px;
  font-weight: 600;

  color: var(--text-gray);
}

.postListContainer {
  width: 100%;
  height: 100%;

  margin-top: 84px;
  padding: 0 auto;
}

.postList {
  display: flex;
  flex-direction: column;

  gap: 40px;
}

.writeBtn {
  position: fixed;
  bottom: 5%;
  right: 5%;

  width: 60px;
  height: 60px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--text-white);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
