.main {
  max-width: 386px;
}

.headerContainer {
  position: fixed;
  top: 0;
  z-index: var(--header-z-index);

  height: 60px;
  width: 100%;

  border-bottom: 1px solid var(--border-light);
}

.headerWrapper {
  width: 92%;
  height: 100%;

  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.titleArea {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.title {
  font-size: 20px;
  font-weight: 600;

  color: var(--text-title);
}

.postListContainer {
  width: 100%;
  height: 100%;

  margin-top: 84px;
  padding: 0 auto;
}

.postList {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.postItem {
  display: block;

  width: 100%;
  height: 100%;
}

.postItemWrapper {
  width: 92%;

  margin: 0 auto;
}

.postImgArea {
}

.postInfoArea {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 20px;
}

.postCategori {
  font-size: 15px;

  color: var(--text-gray);

  line-height: 1.4;
}

.postTitle {
  font-size: 18px;
  font-weight: 600;

  color: var(--text-title);

  line-height: 1.4;
}

.postDate {
  font-size: 15px;

  color: var(--text-gray);

  line-height: 1.4;
}
